html {
  scroll-padding-top: 65px;
}

:root {
  --defult-transition: 500ms;
  --gray-color: #f5f5f5;
  --dark-gray: #4e4e4e;
  --sema-blue: #0078ff;
  --light-gray: #f8f8f8;
}

/* ^########## spacial utilities */
.w-fit {
  width: fit-content;
}
.sema-blue {
  color: var(--sema-blue);
}
.bg-same-blue {
  background-color: var(--sema-blue);
}
.isolate {
  isolation: isolate;
}
.dark-gray {
  color: var(--dark-gray);
}

body {
  background-color: var(--gray-color);
  position: relative;
}
/* !#######start navbar */
nav {
  background-color: rgba(0, 0, 0, 0.9);
}
nav a {
  letter-spacing: 0.5px;
  font-weight: 600;
}

nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #fff;
  bottom: -2px;
  left: 26px;
  transition: width var(--defult-transition);
}
nav .nav-item .nav-link:focus::before,
nav .nav-item .nav-link.active::before,
nav .nav-item .nav-link:hover::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #fff;
  bottom: -2px;
  left: 25px;
}

nav .nav-item .nav-link:active::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #fff;
  bottom: -2px;
  left: 25px;
}
.drop-rgiht i {
  font-size: 10px;
}
.drop-rgiht:hover .drop-list {
  opacity: 1;
  transform: translateX(25px);
  transition: var(--defult-transition);
}
.drop-list {
  left: 120px;
  top: 40px;
  background-color: var(--bs-gray-dark);
  opacity: 0;
}

nav .dropdown-menu a:hover {
  background-color: black;
}
/* !#######end navbar */

/* ^#######start header section */

header .header {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.635),
      rgba(0, 0, 0, 0.485)
    ),
    url(../image/hero-bg.jpg);

  background-position: center;
  background-attachment: fixed;
}

header .text h1 {
  font-weight: 600;
}

.header .span span {
  display: inline-block;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;
}
.header .span span:nth-of-type(1) {
  animation: typing-1 12s infinite steps(9);
}
.header .span span:nth-of-type(2) {
  animation: typing-2 12s infinite steps(8);
}
.header .span span:nth-of-type(3) {
  animation: typing-3 12s infinite steps(10);
}
.header .span span:nth-of-type(4) {
  animation: typing-4 12s infinite steps(12);
}

@keyframes typing-1 {
  0%,
  10%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    width: 0%;
  }
  20% {
    width: calc(9 * 23.29px);
  }
}
@keyframes typing-2 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    width: 0%;
  }
  40% {
    width: calc(8 * 23.29px);
  }
}

@keyframes typing-3 {
  0%,
  10%,
  20%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90%,
  100% {
    width: 0%;
  }

  60% {
    width: calc(10 * 23.29px);
  }
}

@keyframes typing-4 {
  0%,
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  90%,
  100% {
    width: 0%;
  }
  80% {
    width: calc(12 * 23.29px);
  }
}
/* ^####### end header section */
/* *####### start about section */

.about .container .big-row {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  padding-block: 65px;
}
.about .container .list li strong {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 18px;
}
.about .container .image {
  width: 41%;
}
.about .container .pro h5 {
  color: var(--dark-gray);
}
.about .container .progress {
  max-height: 10px;
}
.about .container .progress-bar {
  max-height: 10px;
}
.about .container .text h5::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 3px;
  background-color: var(--sema-blue);
  bottom: -13px;
  left: 0;
}
.caption {
  font-size: 1.25rem;
  font-weight: 300;
}
/* *####### end about section */
/* ~####### start services section */

.title > p::before {
  content: "";
  position: absolute;
  width: 13%;
  height: 5px;
  background-color: var(--sema-blue);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.services .container .card {
  border-radius: 20px;
  border: none !important;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  transition: background-color var(--defult-transition),
    border-color var(--defult-transition), color var(--defult-transition);
}
.services .container .card .icon {
  width: 120px;
  height: 120px;
  border: 10px solid var(--sema-blue);
  color: black;
  border-radius: 50%;
  position: absolute;
  margin: 0 auto;
  transition: background-color var(--defult-transition),
    border-color var(--defult-transition);
}

.services .container .card:hover .icon {
  background-color: var(--sema-blue);
  border-color: #cde1f8;
}
.services .container .card:hover .icon i {
  color: #fff;
  transition: var(--defult-transition);
}
.services .container .card p {
  color: #4e4e4e;
}
/* ~####### end services section */
/* ######start counter */
.counter {
  background-image: url(../image/counters-bg.jpg);
  width: 100%;
  min-height: 400px;
  background-position: center center;
  background-attachment: fixed;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: #0078ff;
  opacity: 0.7;
}
.counter .cou {
  z-index: 1;
  color: #cde1f8;
}
.counter .cou .icon {
  width: 80px;
  height: 80px;
  color: #fff;
  border-radius: 50%;
  border: 10px solid #cde1f8;
  margin: 0 auto;
}
.counter .container .row {
  padding-block: 120px;
}
/* ######end counter */
/* !#######  start Portfolio section */
.Portfolio .card {
  width: 100%;
  border: none;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.Portfolio h5 {
  font-size: 20px !important;
}
.Portfolio .card a {
  color: var(--sema-blue);
}
.Portfolio .card a:hover {
  color: var(--sema-blue);
}
.Portfolio .card span {
  color: var(--dark-gray);
  font-size: 13px;
}
.Portfolio .card .card-body {
  z-index: 1;
}
.Portfolio .card span:nth-of-type(1) {
  color: var(--sema-blue);
}
.Portfolio .card img {
  transition: scale var(--defult-transition);
}
.Portfolio .card:hover img {
  scale: 1.3;
  transition: 1s;
}
/* !#######  end Portfolio section */

/* ######start Carousel section */
.carousel-s {
  background-image: url(../image/overlay-bg.jpg);
  width: 100%;
  min-height: 600px;
  background-position: center center;
  background-attachment: fixed;
}
.carousel-inner {
  width: 70%;
}
.carousel-s .description {
  font-size: 20px;
  font-weight: 300;
}
.carousel-s .carousel-item .image {
  width: 100px;
  margin: 0 auto;
}
.carousel-s .carousel-item .image-2 {
  width: 147px;
  margin: 0 auto;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: -50px;
}
.carousel {
  position: static !important;
}
.carousel-indicators {
  bottom: 70px !important;
}
/* ###### end Carousel section */
/* !####### start  blog  section */
.blog .card {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 7px 7px;
}
.blog .card .catgory {
  padding: 8px 17px;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
}
.blog .card .catgory h6 {
  font-size: 11.2px;
}
.blog .card-body p,
.icon {
  color: var(--dark-gray);
}
.blog .card-b .image {
  width: 35px;
}
.blog .card-b {
  background-color: var(--light-gray);
}
.blog .card .card-body a {
  color: black;
}

.blog .card .card-body a:hover {
  color: var(--sema-blue);
  transition: var(--defult-transition);
}
/* !####### end blog  section */
/* !####### start  Contact  section */
.contact {
  background-image: url(../image/overlay-bg.jpg);
  width: 100%;
  min-height: 741px;
  background-attachment: fixed;
}

.contact .container input::placeholder,
textarea::placeholder {
  padding-left: 8px;
  text-transform: capitalize;
  font-size: 14px;
}
.contact .container input:focus,
textarea:focus {
  outline: 1px solid #0078ff;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.contact .container textarea {
  max-width: 100%;
  min-width: 100%;
  height: 130px;
}
.contact .container button {
  font-size: 19px;
  padding: 10px 24px;
  border: none;
}
.contact .container button:hover {
  background: #3393ff;
  text-decoration: none;
  box-shadow: 0 0 0 4px #cde1f8;
}

.contact .container .row h5::before {
  content: "";
  position: absolute;
  background-color: var(--sema-blue);
  width: 100px;
  height: 3px;
  left: 0;
  bottom: -10px;
}

.font-16 {
  font-size: 16px;
}
.contact .container .row .icon {
  width: 45px;
  height: 45px;
  border: 3px solid var(--sema-blue);
  border-radius: 50%;
  transition: background-color var(--defult-transition),
    border-color var(--defult-transition);
}

.contact .container .row .icon:hover {
  background-color: var(--sema-blue);
  border-color: #cde1f8;
}
.contact .container .row .icon:hover i {
  color: #fff !important;
  transition: var(--defult-transition);
}

/* !####### end  Contact  section */
/* !####### start  footer  section */
.footer {
  background-color: #0062d3;
  box-shadow: inset -1px 9px 11px 0px #0000001c;
}
